@charset "UTF-8";
/*VARIABLES*/
/*MIXIN*/
/*HEADER Y LOGO DEL HEADER*/
.logoLiluna {
  width: 220px;
  height: 80px;
}

header {
  background-color: #E1BFA0;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: #758E53;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

/*BANNERS DE HTMLS*/
.bannerInicio {
  background-image: url(../img/banner-sartenes.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  padding: 143px;
}

.botonBanner {
  background-color: #E1BFA0;
  padding: 9px 25px;
  border-radius: 50px;
  transition: 0.7s;
}

.botonBanner:hover {
  background-color: bisque;
  padding: 15px 30px;
  border-radius: 50px;
}

.bannerProductos {
  background-image: url(../img/banner-productos.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  padding: 110px;
}

.bannerOfertas {
  background-image: url(../img/banner-ofertas.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  padding: 110px;
}

.bannerPlanCanje {
  background-image: url(../img/banner-plan-canje.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  padding: 110px;
}

.bannerContacto {
  background-image: url(../img/banner-contacto.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  padding: 143px;
}

/*BODY, DIV, SECTOR, MAIN*/
.sobreNosotrosUbicacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #3E5849;
}

.inicioColumnas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Playfair Display", serif;
  color: #3E5849;
  padding: 150px;
  text-align: justify;
  transition: 0.9s;
}

.botonProductos {
  background-color: bisque;
  padding: 9px 25px;
  border-radius: 50px;
}

.botonProductos:hover {
  background-color: #E1BFA0;
  padding: 9px 25px;
  border-radius: 50px;
}

.columnaIzq {
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}

.textoPequeño {
  font-size: 14px;
  transition: 0.9s;
}

.dobleFila {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.pequeña {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: 0.9s;
}

.pequeña2 {
  width: 100px;
  height: 100px;
}

.alejarImg {
  padding-left: 125px;
}

.cajaFormulario {
  background-color: #E1BFA0;
  width: 300px;
  display: block;
  flex-direction: column;
  border: 1px #3E5849 solid;
  margin: 100px;
  border-radius: 10px;
  color: #3E5849;
  padding: 15px;
  align-content: center;
  text-align: start;
}

.botonEnviar {
  display: inline;
  align-content: center;
  color: #3E5849;
  width: 230px;
}

.anchoInput {
  width: 230px;
}

.anchoInput2 {
  width: 226px;
}

.anchoInput3 {
  width: 244px;
}

.anchoInput4 {
  width: 287px;
}

.titulo {
  text-align: center;
}

.productosColumnas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Playfair Display", serif;
  color: #3E5849;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  transition: 0.9s;
}

.productosColumnas:hover {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  color: #3E5849;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.inicioColumnas:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  color: #3E5849;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: justify;
}

.cajaFormulario:hover {
  background-color: #E1BFA0;
  width: 280px;
  display: block;
  flex-direction: column;
  border: 1px #3E5849 solid;
  border-radius: 10px;
  color: #3E5849;
  padding: 20px;
  align-content: center;
  text-align: start;
}

/*FOOTER DE BOOTSTRAP*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E5849;
  font-family: "Playfair Display", serif;
  background-color: #E1BFA0;
}

/*RESPONDIVE (VISTA MOVIL Y TABLET)*/
@media (min-width: 300px) and (max-width: 750px) {
  .sobreNosotrosUbicacion {
    font-size: 80%;
    display: block;
    align-items: center;
    align-content: center;
  }
  .logoLiluna {
    width: 160px;
    height: 70px;
  }
  .pequeña {
    width: 190px;
    height: 190px;
  }
  .bannerInicio {
    padding: 53px;
  }
  .bannerPlanCanje {
    padding: 38px;
  }
  .bannerProductos, .bannerOfertas, .bannerContacto {
    padding: 40px;
  }
  .inicioColumnas {
    padding: 30px;
  }
  .mapaEssen {
    width: 270px;
    height: 140px;
  }
  #videoEssen {
    width: 230px;
    height: 140px;
    margin: 0px;
  }
  .cajaFormulario {
    background-color: #E1BFA0;
    width: 260px;
    display: block;
    flex-direction: column;
    border: 1px #3E5849 solid;
    margin: 30px;
    color: #3E5849;
    padding: 5px;
    align-content: center;
    text-align: start;
  }
  .botonEnviar {
    width: 245px;
  }
}

/*# sourceMappingURL=estilo.css.map */
