/*BODY, DIV, SECTOR, MAIN*/

.sobreNosotrosUbicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: $color-verde;
  }
  
  .inicioColumnas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: $fuente-texto;
    color: $color-verde;
    padding: 150px;
    text-align: justify;
    transition: 0.9s;
  }

  .botonProductos {
    background-color: $color-rosita-clarito;
    padding: 9px 25px;
    border-radius: 50px;
  }

  .botonProductos:hover {
    background-color: $color-rosita;
    padding: 9px 25px;
    border-radius: 50px;
  }
  
  .columnaIzq {
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
  }
  
  .textoPequeño {
    font-size: 14px;
    transition: 0.9s;
  }

  .dobleFila {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
  }
  
  .pequeña {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: 0.9s;
  }
  
  .pequeña2 {
    width: 100px;
    height: 100px;
  }
  
  .alejarImg {
    padding-left: 125px;
  }
  
  .cajaFormulario {
    background-color: $color-rosita;
    width: 300px;
    display: block;
    flex-direction: column;
    border: 1px $color-verde solid;
    margin: 100px;
    border-radius: 10px;
    color: $color-verde;
    padding: 15px;
    align-content: center;
    text-align: start;
  }
  
  .botonEnviar {
    display: inline;
    align-content: center;
    color: $color-verde;
    width: 230px;
  }
  
  .anchoInput {
    width: 230px;
  }
  
  .anchoInput2 {
    width: 226px;
  }
  
  .anchoInput3 {
    width: 244px;
  }
  
  .anchoInput4 {
    width: 287px;
  }
  
  .titulo {
    text-align: center;
  }
  
  .productosColumnas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: $fuente-texto;
    color: $color-verde;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    transition: 0.9s;
  }

  .productosColumnas:hover {
    display: flex;
    align-items: center;
    font-family: $fuente-texto;
    color: $color-verde;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .inicioColumnas:hover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $fuente-texto;
    color: $color-verde;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: justify;
  }

  .cajaFormulario:hover {
    background-color: $color-rosita;
    width: 280px;
    display: block;
    flex-direction: column;
    border: 1px $color-verde solid;
    border-radius: 10px;
    color: $color-verde;
    padding: 20px;
    align-content: center;
    text-align: start;
  }