/*FOOTER DE BOOTSTRAP*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-verde;
    font-family: $fuente-texto;
    background-color: $color-rosita;
  }
  